.card {
    padding: 1rem;
    background-color: rgb(255, 252, 252);
    margin: 2rem auto;
    width: 85rem;
    max-width: 95%;
    border-radius: 12px;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
  }
  .login{
    padding: 1rem;
    background-color: rgba(235, 203, 255, 0.673);
    margin: 10rem auto;
    width: 30rem;
    max-width: 95%;
    border-radius: 12px;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
  }
  .sign-up{
    padding: 1rem;
    background-color: rgba(235, 203, 255, 0.673);
    margin: 10rem auto;
    width: 30rem;
    max-width: 95%;
    border-radius: 12px;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
  }